name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: ./.github/actions/checkout

      - name: Set up JDK 17
        uses: ./.github/actions/setup-jdk

      - name: Run Library tests
        run: ./gradlew :nav-entry-scope-lib:testDebugUnitTest

      - name: Run Processor tests
        run: ./gradlew :nav-entry-scope-processor:test

      - name: Publish library modules to Maven Local
        run: ./gradlew publishToMavenLocal

      - name: Run App tests
        run: ./gradlew :app:testDebugUnitTest
